@import '../../globals.scss';

:root {
    --color1: red;
    --color2: rgb(111, 200, 73);
    --color3: rgb(17, 0, 255);
}

@keyframes blink {
    0% {
        background-color: rgba(248, 248, 248, 0);
        /* Initial background color */
    }

    // 10% {
    //     background-color: rgba(157, 33, 33, 0.1);
    //     /* Color change halfway through */
    // }

    // 20% {
    //     background-color: rgba(248, 248, 248, 0.1);
    //     /* Color change halfway through */
    // }

    // 30% {
    //     background-color: rgba(248, 248, 248, 0.15);
    //     /* Color change halfway through */
    // }

    // 40% {
    //     background-color: rgba(248, 248, 248, 0.2);
    //     /* Color change halfway through */
    // }

    50% {
        background-color: rgba(157, 33, 33, 0.6);
        /* Color change halfway through */
    }

    // 50% {
    //     background-color: rgba(248, 248, 248, 0.3);
    //     /* Color change halfway through */
    // }

    // 60% {
    //     background-color: rgba(248, 248, 248, 0.35);
    //     /* Color change halfway through */
    // }

    // 70% {
    //     background-color: rgba(248, 248, 248, 0.4);
    //     /* Color change halfway through */
    // }

    // 80% {
    //     background-color: rgba(248, 248, 248, 0.3);
    //     /* Color change halfway through */
    // }

    // 90% {
    //     background-color: rgba(248, 248, 248, 0.3);
    //     /* Color change halfway through */
    // }

    100% {
        background-color: rgba(157, 33, 33, 0.3);
        /* Return to initial background color */
    }
}

.container {
    border-radius: 20px;

    // animation: blink 3s infinite;
}

.svg {
    position: relative;
    display: inline-block;
}


.background {
    fill: none;
    stroke: rgba(240, 255, 241, 0.506);
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;


    // stroke: var(--color1);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.text {
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
}

// .input {
//     // appearance: none;
//     height: 10px;
//     height: 7px;
//     background-image: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
//     border-radius: 5px;
// }