@import '../../globals.scss';

.container {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;

    background-color: rgba(57, 108, 102, 0.179);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // animation: blink 3s infinite;

    button {
        font-size: 1.6rem;
        cursor: pointer;
        transition: transform 0.3s;
        margin-bottom: 20px;
        font-weight: 600;
        border-radius: 20px;
        background: none;

        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(1.1);
        }

        @include phone {
            font-size: 1.3rem;
            padding-top: 5px;
        }
    }
}