@import '../globals.scss';

.container {
    display: flex;
    flex-direction: column;
    // margin-bottom: 5px;
}

.fieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

}

.info {
    font-size: 1.5rem;
    // font-style: italic;
    // font-weight: 800;
    margin-right: 8px;
    // margin-top: 20px;
    // background-color: aliceblue;
    // text-align: center;
    // align-content: center;
    display: flex;
    align-items: center;
}

[info] {
    position: relative;
}

[info]:hover::after {
    content: attr(info);
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(230, 211, 211);
    z-index: 1;
    font-size: large;
    font-style: italic;
    font-weight: 500;
}

// .label {
//     font-size: 2rem;
//     font-weight: 500;
// }

// .rightSideContainer {
//     display: flex;
//     flex-direction: row;
// }

.inputComtainer {
    position: relative;
    display: inline-block;
    // width: 100%;
}

.input {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    border-radius: 20px;
    // margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;

    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    // border: 2px solid rgb(139, 194, 236);

    // &:-moz-autofill,
    // &:-moz-autofill:hover,
    // &:-moz-autofill:focus,
    // &:-moz-autofill:active,
    // &:-ms-autofill,
    // &:-ms-autofill:hover,
    // &:-ms-autofill:focus,
    // &:-ms-autofill:active,
    // &:-o-autofill,
    // &:-o-autofill:hover,
    // &:-o-autofill:focus,
    // &:-o-autofill:active,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-background-clip: text;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0);
    }

    @include phone {
        font-size: 1rem;
    }
}

.icon {
    font-size: 23px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.89);
}

.a {
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    color: black;
    text-decoration: none;

    border-radius: 20px;
    border: 2px solid #8496aa;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgb(139, 194, 236);

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;


    // background-color: rgba(102, 198, 185, 0.179);


    transition: transform 0.5s, background-color 0.5s;

    &:hover {
        transform: scale(1.1);
        background-color: rgba(46, 105, 97, 0.343);
    }

    @include phone {
        font-size: 1.3rem;
        padding-top: 5px;
    }

}