@import '../globals.scss';

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    background-color: $background-body;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgb(139, 194, 236);
    border-radius: 20px;

  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; 
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: fit-content;

    @include phone {
        max-width: 380px;
    }
}

.title {
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;

    @include phone {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

.instruction {
    font-size: 1rem;
    font-weight: 400;

    background-color: $background-section;
    border-radius: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .b {
        font-size: 1.5rem;

        @include phone {
            font-size: 1rem;
        }
    }

    @include phone {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;
    }
}

.configFields {
    margin-top: 20px;

    background-color: $background-section;
    border-radius: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @include phone {
        padding: 10px;
    }
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #948a8a;
    border: none;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}