.container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}