@import '../globals.scss';

.container {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;



    background-color: $background-section;
    border-radius: 15px;


    // background-color: rgba(4, 113, 255, 0.273);
    // background-color: rgba(4, 255, 142, 0.566);
    // background-color: rgba(88, 183, 57, 0.875);

    // background-color: rgba(1, 65, 149, 0.881);
    // background-color: rgba(0, 55, 30, 0.904);
    // background-color: rgba(35, 138, 0, 0.875);

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-self: center;
    position: relative;
    display: inline-block;

    // transition: transform 1s ease-in;

    // &:hover {
    //     animation: circle-animation 1s normal infinite;
    // }
}

@keyframes circle-animation {
    0% {
        transform: translateX(0) translateY(0);
    }

    // 33% {
    //     transform: translateX(2%);
    // }

    // 66% {
    //     transform: translateX(2%) translateY(2%);
    // }

    100% {
        // background-color: aquamarine;
        background-color: rgba(109, 109, 109, 0.403);
        transform: translateY(2%) translateY(2%);
    }
}

@keyframes blink {
    0% {
        background-color: rgba(248, 248, 248, 0.2);
        // background-color: rgba(4, 113, 255, 0.273)
    }

    50% {
        background-color: rgba(157, 33, 33, 0.3);
    }

    100% {
        background-color: rgba(157, 33, 33, 0.3);
    }
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    z-index: -1;

    // animation: blink 2s linear infinite;

    svg {
        width: 100%;
        height: 100%;
    }

    // rect {
    //     animation: blink 2s linear infinite;
    // }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.startTime {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.divText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .spanFirst {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 500;
        margin-right: 10px;
    }

    .spanLast {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 400;
    }
}

.button {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 5px;

    @include phone {
        font-size: 1.3rem;
        padding-top: 5px;
    }
}