@import './globals.scss';

body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: $z-index-background-gif;

    @include phone {
        background-position: center center;
    }
}