@mixin tablet {
    @media only screen and (max-width: 700px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@keyframes blink {
    0% {
        background-color: rgba(4, 113, 255, 0.573);
    }

    50% {
        background-color: rgba(4, 255, 142, 0.566);
    }

    100% {
        background-color: rgba(88, 183, 57, 0.575);

    }
}


$z-index-navbar: 11;
$z-index-top: 10;
$z-index-top-1: 9;
$z-index-top-2: 8;
$z-index-top-3: 7;
$z-index-top-4: 6;
$z-index-top-5: 5;
$z-index-top-6: 4;
$z-index-top-7: 3;
$z-index-top-8: 2;
$z-index-top-9: 1;
$z-index-middle: 0;
$z-index-background-gif: -1;
$z-index-buttom: -2;

$background-body: rgba(126, 170, 128, 0.088);
$background-login: rgba(0, 0, 0, 0.01);
$background-navbar: rgba(151, 76, 164, 0.2);
$background-section: rgba(0, 0, 0, 0.09);